body{
background-color: black;

}
h1{

    color: white;
}
p{
    color: green;
    font-size: 20px;
}
#p1
{
    color: red;
}
#p2
{
    color: green;
}
#p3
{
    color: yellow;
}

.paragraph{
    color: aqua;
}